# Visual Studio Code files
.vscode/
.vs/
# Binaries
bin/
obj/

# User-specific files
*.user
*.suo
*.cache

# Dependency directories
packages/
node_modules/

# .NET Core
*.dll
*.exe
*.pdb
*.userprefs
*.app
*.msi
*.zip
LAMovies_BE/Helper/credentials.json

